doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Buttercup
        //- link(rel="icon" href=require("../../../resources/favicon/favicon-256.png") sizes="256x256")
        link(rel="stylesheet" href=require("./styles/base.sass"))
    body
        #root
        script(type="text/javascript" src=require("./index.tsx"))
